@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Keyframes for fading in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Classes for applying the fade-in animation with delays */
.animate-fadeIn {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 1s ease-out forwards; /* Animation with no delay */
}

.animate-fadeInDelay1 {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 1s ease-out 0.5s forwards; /* Delay of 0.5s */
}

.animate-fadeInDelay2 {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 1s ease-out 1s forwards; /* Delay of 1s */
}

.animate-fadeInDelay3 {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 1s ease-out 1.5s forwards; /* Delay of 1.5s */
}
